<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.mall.themall.dao.AddressMapper">
	<resultMap id="BaseResultMap"
		type="com.shopping.mall.themall.model.Address">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="addtime" property="addtime"
			jdbcType="TIMESTAMP" />
		<result column="deletestatus" property="deletestatus"
			jdbcType="BIT" />
		<result column="userid" property="userid" jdbcType="INTEGER" />
		<result column="detailaddress" property="detailaddress"
			jdbcType="VARCHAR" />
		<result column="procityarea" property="procityarea"
			jdbcType="VARCHAR" />
		<result column="postcodecode" property="postcodecode"
			jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="consigneename" property="consigneename"
			jdbcType="VARCHAR" />
		<result column="morenstatus" property="morenstatus"
			jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, addtime, deletestatus, userid, detailaddress, procityarea,
		postcodecode, phone,
		consigneename, morenstatus
	</sql>
	<!-- 查询一个地址对象 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from shopping_address
		where id = #{id,jdbcType=INTEGER}
	</select>
	<!-- 通过用户id查询地址集合 -->
	<select id="selectByUserid" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from shopping_address
		where userid = #{userid,jdbcType=INTEGER}
	</select>
	<!-- 根据主键删除一条地址记录 -->
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from shopping_address
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<!-- 新增地址方法 -->
	<insert id="insert"
		parameterType="com.shopping.mall.themall.model.Address">
		insert into shopping_address (addtime, deletestatus,
		userid, detailaddress, procityarea,
		postcodecode, phone, consigneename,
		morenstatus)
		values (#{addtime,jdbcType=TIMESTAMP},0,
		#{userid,jdbcType=INTEGER}, #{detailaddress,jdbcType=VARCHAR}, #{procityarea,jdbcType=VARCHAR},
		#{postcodecode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
		#{consigneename,jdbcType=VARCHAR},
		#{morenstatus,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.shopping.mall.themall.model.Address">
		insert into shopping_address
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
			<if test="deletestatus != null">
				deletestatus,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="detailaddress != null">
				detailaddress,
			</if>
			<if test="procityarea != null">
				procityarea,
			</if>
			<if test="postcodecode != null">
				postcodecode,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="consigneename != null">
				consigneename,
			</if>
			<if test="morenstatus != null">
				morenstatus,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="addtime != null">
				#{addtime,jdbcType=TIMESTAMP},
			</if>
			<if test="deletestatus != null">
				#{deletestatus,jdbcType=BIT},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="detailaddress != null">
				#{detailaddress,jdbcType=VARCHAR},
			</if>
			<if test="procityarea != null">
				#{procityarea,jdbcType=VARCHAR},
			</if>
			<if test="postcodecode != null">
				#{postcodecode,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="consigneename != null">
				#{consigneename,jdbcType=VARCHAR},
			</if>
			<if test="morenstatus != null">
				#{morenstatus,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.shopping.mall.themall.model.Address">
		update shopping_address
		<set>
			<if test="addtime != null">
				addtime = #{addtime,jdbcType=TIMESTAMP},
			</if>
			<if test="deletestatus != null">
				deletestatus = #{deletestatus,jdbcType=BIT},
			</if>
			<if test="userid != null">
				userid = #{userid,jdbcType=INTEGER},
			</if>
			<if test="detailaddress != null">
				detailaddress = #{detailaddress,jdbcType=VARCHAR},
			</if>
			<if test="procityarea != null">
				procityarea = #{procityarea,jdbcType=VARCHAR},
			</if>
			<if test="postcodecode != null">
				postcodecode = #{postcodecode,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="consigneename != null">
				consigneename = #{consigneename,jdbcType=VARCHAR},
			</if>
			<if test="morenstatus != null">
				morenstatus = #{morenstatus,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.shopping.mall.themall.model.Address">
		update shopping_address
		set
		detailaddress = #{detailaddress,jdbcType=VARCHAR},
		procityarea = #{procityarea,jdbcType=VARCHAR},
		postcodecode = #{postcodecode,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		consigneename = #{consigneename,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>