<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.mall.themall.dao.SpecMapper">
	<resultMap type="com.shopping.mall.themall.model.Spec"
		id="selectlist">
		<id column="sid" property="id" jdbcType="INTEGER" />
		<result column="specaddtime" property="addtime"
			jdbcType="TIMESTAMP" />
		<result column="specname" property="specname"
			jdbcType="VARCHAR" />
		<result column="specseq" property="seq" jdbcType="INTEGER" />
		<collection property="listSpecv"
			ofType="com.shopping.mall.themall.model.Specv">
			<result column="svid" property="id" />
			<result column="specvname" property="specvname" />
			<result column="specvseq" property="seq" />
			<result column="specid" property="specid" />
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		id, addtime, deletestatus, specname, seq
	</sql>
	<!--查询两表所有显示信息 -->
	<select id="selectAll" resultMap="selectlist">
		select
		s.id as sid,s.addtime as specaddtime,
		specname,s.seq as specseq,
		sv.id as
		svid,specvname,
		sv.seq as specvseq,specid
		from shopping_spec s
		left join
		shopping_specv sv on sv.specid = s.id
		order by s.seq,sv.seq
	</select>
	<!--查询商品的规格信息 -->
	<select id="selectSpec" resultMap="selectlist">
		select
		s.id as
		sid,s.addtime as specaddtime,
		s.specname,s.seq as specseq,
		sv.id as
		svid,specvname,sv.seq as specvseq,sv.specid
		from shopping_spec s
		left
		join shopping_goodsandspecv gsv on gsv.specid = s.id
		left join
		shopping_specv sv on sv.id = gsv.specvid
		where gsv.productid =
		#{productid}
	</select>
	<!--删除规格与规格值信息 -->
	<delete id="deleteSpec" parameterType="java.lang.Integer">
		DELETE s1,
		s2
		FROM
		shopping_spec s1
		LEFT JOIN shopping_specv s2 ON s2.specid = s1.id
		WHERE
		s1.id = #{id}
	</delete>
	<!--根据规格名查询规格对象 -->
	<select id="selectByName"
		resultType="com.shopping.mall.themall.model.Spec">
		select
		<include refid="Base_Column_List" />
		from shopping_spec
		where specname = #{specname}
	</select>

	<resultMap id="BaseResultMap"
		type="com.shopping.mall.themall.model.Spec">

		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="addtime" property="addtime"
			jdbcType="TIMESTAMP" />
		<result column="deletestatus" property="deletestatus"
			jdbcType="BIT" />
		<result column="specname" property="specname"
			jdbcType="VARCHAR" />
		<result column="seq" property="seq" jdbcType="INTEGER" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from shopping_spec
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		delete from shopping_spec
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.shopping.mall.themall.model.Spec"
		useGeneratedKeys="true" keyProperty="id">
		insert into shopping_spec (addtime, deletestatus,
		specname, seq)
		values (#{addtime,jdbcType=TIMESTAMP},0,
		#{specname,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.shopping.mall.themall.model.Spec">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		insert into shopping_spec
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
			<if test="deletestatus != null">
				deletestatus,
			</if>
			<if test="specname != null">
				specname,
			</if>
			<if test="seq != null">
				seq,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="addtime != null">
				#{addtime,jdbcType=TIMESTAMP},
			</if>
			<if test="deletestatus != null">
				#{deletestatus,jdbcType=BIT},
			</if>
			<if test="specname != null">
				#{specname,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				#{seq,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.shopping.mall.themall.model.Spec">
		update shopping_spec
		<set>
			<if test="addtime != null">
				addtime = #{addtime,jdbcType=TIMESTAMP},
			</if>
			<if test="deletestatus != null">
				deletestatus = #{deletestatus,jdbcType=BIT},
			</if>
			<if test="specname != null">
				specname = #{specname,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				seq = #{seq,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.shopping.mall.themall.model.Spec">
		update shopping_spec
		set
		specname = #{specname,jdbcType=VARCHAR},
		seq = #{seq,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>